# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Playwright
test-results/
playwright-report/
blob-report/
trace.zip

# VS Code
.vscode/
.history/
*.code-workspace
# macOS
.DS_Stor

# Playwright
node_modules/
/playwright-report/
/blob-report/
/playwright/.cache/
